*{
    margin: 0%;
    padding: 0%;
}
.start{
    display: flex;
    justify-content: center;

}
.bg-container{
    background-image: url('/mealsimage.jpg');
    background-size: cover;
    height: 86vh;
    width: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 2%;
}
.card{
    background-color:rgb(45, 30, 1);
    height: 23%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    text-align: left;
    padding: 5%;

}
.btn{
    background-color: aliceblue;
    height: 25%;
    width: 25%;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
   
}
.pragraph{
    font-size: 24
    px;
    margin-top: 15px;
    color: aliceblue;
    
    
}